# Dependencies
node_modules/
.pnp
.pnp.js

# Build outputs
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
.env.*.local

# Backend / Java / Python ignores
target/
*.jar
*.war
__pycache__/
*.pyc
venv/
.venv/
